$icon-font-path: "/dev/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "dev/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower
#board {
  position: relative;
  top: 4em;
}
.navbar-brand {
  float: none;
}
.plumb {
  position: absolute;
  border: 1px solid;
  border-radius: 5px;
  .text {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 2em;
    padding: 1em;
  }
}
#debian {
  top: 1em;
  left: 50%;
  width: 121px;
  height: 160px;
}
#bash{
  top: 15em;
  left: 0;
  width: 150px;
  height: 150px;
}
#vim{
  top: 15em;
  left: 15%;
  width: 150px;
  height: 150px;
}
#mysql{
  top: 15em;
  left: 30%;
  width: 153px;
  height: 122px;
}
#mongodb{
  top: 27em;
  left: 22%;
  width: 203px;
  height: 71px;
}
#couchdb{
  top: 35em;
  left: 16%;
  width: 153px;
  height: 129px;
}
#riak{
  top: 37em;
  left: 33%;
  width: 203px;
  height: 90px;
}
#postfix{
  top: 15em;
  left: 45%;
  width: 153px;
  height: 54px;
}
#dovecot{
  top: 22em;
  left: 45%;
  width: 153px;
  height: 54px;
}
#roundcube{
  top: 28em;
  left: 42%;
  width: 212px;
  height: 56px;
}
#ntop{
  top: 15em;
  left: 60%;
  width: 104px;
  height: 52px;
}
#nagios{
  top: 29em;
  left: 70%;
  width: 143px;
  height: 42px;
}
#cacti{
  top: 10em;
  left: 73%;
  width: 75px;
  height: 142px;
}
#puppet{
  top: 15em;
  left: 84%;
  width: 202px;
  height: 67px;
}
#awstats{
  top: 22em;
  left: 60%;
  width: 157px;
  height: 47px;
}
#iptables{
  top: 29em;
  left: 0;
  width: 157px;
  height: 50px;
}
#tc{
  top: 34em;
  left: 3%;
  width: 83px;
  height: 43px;
}
#c{
  top: 35em;
  left: 55%;
  width: 150px;
  height: 150px;
}
#php{
  top: 48em;
  left: 0;
  width: 160px;
  height: 160px;
}
#ruby{
  top: 48em;
  left: 16%;
  width: 124px;
  height: 124px;
}
#rails{
  top: 62em;
  left: 18%;
  width: 90px;
  height: 114px;
}
#slim{
  top: 72em;
  left: 19%;
  width: 120px;
  height: 40px;
}
#scss{
  top: 72em;
  left: 8%;
  width: 113px;
  height: 40px;
}
#golang{
  top: 48em;
  left: 30%;
  width: 203px;
  height: 124px;
}
#erlang{
  top: 59em;
  left: 34%;
  width: 108px;
  height: 41px;
}
#javascript{
  top: 48em;
  left: 50%;
  width: 150px;
  height: 150px;
}
#html{
  top: 48em;
  left: 90%;
  width: 153px;
  height: 127px;
}
#css{
  top: 61em;
  left: 90%;
  width: 150px;
  height: 150px;
}
#jquery{
  top: 70em;
  left: 56%;
  width: 153px;
  height: 95px;
}
#angularjs{
  top: 73em;
  left: 31%;
  width: 253px;
  height: 73px;
}
#yeoman{
  top: 85em;
  left: 47%;
  width: 150px;
  height: 150px;
}
#grunt{
  top: 85em;
  left: 32%;
  width: 150px;
  height: 150px;
}
#bower{
  top: 85em;
  left: 62%;
  width: 150px;
  height: 150px;
}
#gulp{
  top: 85em;
  left: 16%;
  width: 150px;
  height: 336px;
}
#coffeescript{
  top: 62em;
  left: 53%;
  width: 78px;
  height: 49px;
}
#ionic{
  top: 65em;
  left: 71%;
  width: 140px;
  height: 42px;
}
#cordova{
  top: 47em;
  left: 71%;
  width: 160px;
  height: 180px;
}
#jsplumb{
  top: 70em;
  left: 74%;
  width: 106px;
  height: 42px;
}
#jqplot{
  top: 76em;
  left: 76%;
  width: 225px;
  height: 81px;
}
