$icon-font-path: "/dev/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "dev/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower
#board {
  position: relative;
  top: 4em;
}
.navbar-brand {
  float: none;
}
.plumb {
  position: absolute;
  border: 1px solid;
  border-radius: 5px;
  .text {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 2em;
    padding: 1em;
  }
}
#debian {
  top: 1em;
  left: 50%;
}
#bash{
  top: 15em;
  left: 0;
}
#vim{
  top: 15em;
  left: 15%;
}
#mysql{
  top: 15em;
  left: 30%;
}
#postfix{
  top: 15em;
  left: 45%;
}
#dovecot{
  top: 22em;
  left: 45%;
}
#roundcube{
  top: 28em;
  left: 42%;
}
#ntop{
  top: 15em;
  left: 60%;
}
#nagios{
  top: 29em;
  left: 70%;
}
#cacti{
  top: 10em;
  left: 73%;
}
#puppet{
  top: 15em;
  left: 84%;
}
#awstats{
  top: 22em;
  left: 60%;
}
#iptables{
  top: 29em;
  left: 0;
}
#tc{
  top: 34em;
  left: 3%;
}
#c{
  top: 35em;
  left: 50%;
}
#php{
  top: 48em;
  left: 0;
}
#ruby{
  top: 48em;
  left: 16%;
}
#rails{
  top: 58em;
  left: 18%;
}
#slim{
  top: 69em;
  left: 19%;
}
#scss{
  top: 69em;
  left: 8%;
}
#golang{
  top: 48em;
  left: 30%;
}
#erlang{
  top: 59em;
  left: 34%;
}
#javascript{
  top: 48em;
  left: 50%;
}
#html{
  top: 48em;
  left: 90%;
}
#css{
  top: 61em;
  left: 90%;
}
#jquery{
  top: 70em;
  left: 56%;
}
#angularjs{
  top: 73em;
  left: 31%;
}
#yeoman{
  top: 85em;
  left: 47%;
}
#grunt{
  top: 85em;
  left: 32%;
}
#bower{
  top: 85em;
  left: 62%;
}
#gulp{
  top: 85em;
  left: 16%;
}
#coffeescript{
  top: 62em;
  left: 53%;
}
#ionic{
  top: 62em;
  left: 71%;
}
#cordova{
  top: 47em;
  left: 71%;
}
#jsplumb{
  top: 70em;
  left: 74%;
}
#jqplot{
  top: 76em;
  left: 76%;
}
