* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
}

#impress {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: left top 0px;
  perspective-origin: top;
  & > .canvas {
    transform-origin: left top 0px;
    transition: all 1s ease-in-out;
    position: absolute;
    transform-style: preserve-3d;
  }
}

.step {
  position: absolute;
  border: 1px solid #eee;
  width: 300px;
  transform-style: preserve-3d;
  text-align: center;
  cursor: pointer;
  backface-visibility: hidden;
}

#cube-container {
  perspective-origin: center center;
  perspective: 1200px;
  #cube {
    position: relative;
    top: 100px;
    width: 400px;
    margin: 0 auto;
    height: 400px;
    transform-style: preserve-3d;
    > div {
      width: 400px;
      height: 400px;
      position: absolute;
      background-color: grey;
      transform-style: preserve-3d;
      &.top {
        transform: rotateX(90deg) translateZ(200px);
      }
      &.right {
        transform: rotateY(90deg) translateZ(200px);
      }
      &.left {
        transform: rotateY(-90deg) translateZ(200px);
      }
      &.bottom {
        transform: rotateX(-90deg) translateZ(200px);
      }
    }
  }
}
