html {
  height: 100%;
}
body {
  min-height: 2000px;
  position: relative;
  padding: 0;
  margin: 0;
  background: #bcb;
}
svg {
  width: 5000px;
  height: 100%;
  position: absolute;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 12px sans-serif;
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.link {
  fill: none;
  stroke: #888;
  stroke-width: 2px;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: dash 5s linear forwards;
  // animation-fill-mode: forwards;
}

.revert {
  // transition: transform 0.2s linear;
  transform-origin: center;
}
// .rotateX90 {
//   transform: rotateX(90deg);
// }
