<div id="board">
  <div class="plumb" id="debian">
    <img src="images/debian.png" />
    <div class="text-center">
      Debian
    </div>
  </div>
  <div class="plumb" id="bash">
    <img src="images/bash.png" />
  </div>
  <div class="plumb" id="vim">
    <img src="images/vim.png" />
  </div>
  <div class="plumb" id="mysql">
    <img src="images/mysql.png" />
  </div>
  <div class="plumb" id="postfix">
    <img src="images/postfix.png" />
  </div>
  <div class="plumb" id="dovecot">
    dovecot
  </div>
  <div class="plumb" id="roundcube">
    <img src="images/roundcube.png" />
  </div>
  <div class="plumb" id="ntop">
    <img src="images/ntop.png" />
  </div>
  <div class="plumb" id="nagios">
    <img src="images/nagios.png" />
  </div>
  <div class="plumb" id="cacti">
    <img src="images/cacti.gif" />
    <div class="text-center">
      cacti
    </div>
  </div>
  <div class="plumb" id="puppet">
    <img src="images/puppet.png" />
  </div>
  <div class="plumb" id="awstats">
    awstats
  </div>
  <div class="plumb" id="iptables">
    iptables
  </div>
  <div class="plumb" id="tc">
    tc
  </div>
  <div class="plumb" id="c">
    <div class="text-center">
      <img src="images/c.png" /><br />only learned in school...
    </div>
  </div>
  <div class="plumb" id="php">
    <img src="images/php.png" />
  </div>
  <div class="plumb" id="ruby">
    <img src="images/ruby.png" />
  </div>
  <div class="plumb" id="rails">
    <img src="images/rails.png" />
  </div>
  <div class="plumb" id="css">
    <img src="images/css.png" />
  </div>
  <div class="plumb" id="scss">
    scss
  </div>
  <div class="plumb" id="html">
    <img src="images/html.png" />
  </div>
  <div class="plumb" id="slim">
    SLIM
  </div>
  <div class="plumb" id="javascript">
    <img src="images/javascript.png" />
  </div>
  <div class="plumb" id="coffeescript">
    <img src="images/coffeescript.png" />
  </div>
  <div class="plumb" id="jquery">
    <img src="images/jquery.png" />
  </div>
  <div class="plumb" id="angularjs">
    <img src="images/angularjs.png" />
  </div>
  <div class="plumb" id="yeoman">
    <img src="images/yeoman.png" />
  </div>
  <div class="plumb" id="grunt">
    <img src="images/grunt.png" />
  </div>
  <div class="plumb" id="bower">
    <img src="images/bower.png" />
  </div>
  <div class="plumb" id="gulp">
    <img src="images/gulp.png" />
  </div>
  <div class="plumb" id="jsplot">
    <img src="images/jsplot.png" />
  </div>
  <div class="plumb" id="jsplumb">
    <img src="images/jsplumb.png" />
  </div>
  <div class="plumb" id="ionic">
    IONIC
  </div>
  <div class="plumb" id="golang">
    <img src="images/golang.png" />
  </div>
  <div class="plumb" id="erlang">
    <img src="images/erlang.png" />
  </div>
</div>
