doctype
html
  head
    base(href='/')
    meta(charset='utf-8')
    title impress.js
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #impress
      #step1.step(data-x='-1000', data-y='-1000', data-z='-1000', data-scale='1', data-rotate='-90')
        h1 Step1
      #step2.step(data-x='0', data-y='-1000', data-z='-2000', data-scale='1', data-rotate='90')
        h1 Step2
      #step3.step(data-x='0', data-y='-1000', data-z='-3000', data-scale='1', data-rotate='180')
        h1 Step3
