doctype
html
  head
    base(href="/")
    meta(charset="utf-8")
    title title
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
  body
    svg#main
      defs
        marker#arrow(markerWidth='10', markerHeight='10', refx='10', refy='3', orient='auto', markerUnits='strokeWidth')
          path(d='M0,0 L0,6 L9,3 z', fill='#f00')
