doctype
html
  head
    base(href='/')
    meta(charset='utf-8')
    title skill tree
    meta(name='description', content='')
    // meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    svg#main
      defs
        marker#arrow(markerWidth='10', markerHeight='10', refx='0', refy='3', orient='auto', markerUnits='userSpaceOnUse')
          path(d='M0,0 L0,6 L9,3 z', fill='#888')
