svg
  defs
    marker#markerArrow(markerWidth="13", markerHeight="13" refx="2" refy="6", orient="auto")
      path(d="M2,2 L2,11 L10,6 L2,2", style="fill: black;")
  rect(x="10", y="10", width="20", height="20", stroke="red")
  line(x1="40", y1="20", x2="40", y2="60", stroke="red", marker-end="url(#markerArrow)")
